{% load static %} 
<style>
@media print {
  page, table {page-break-inside: avoid;}
} 
</style>
<h4 class="fw-bold py-3 mb-4">Game statistics</h4>
<div class="row">
  <div class="col-md-6 mb-4 break-after">
    <div class="card">
        <h5 class="card-header">Player statistics</h5>
        <div class="table-responsive text-nowrap">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>Player</th>
                <th class="border-start">Biggest hand</th>
                <th class="border-start">Top Minipoints</th>
                <th class="border-start">Max wins</th>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0">
            {% for player_stats in players_stats %}
              <tr>
                <td class="col-md-3">
                    <i class="menu-icon tf-icons bx bx-user"></i><b>{{player_stats.player.full_name}}</b>
                </td>
                <td class="border-start col-md-3 {% if rounds_max_stats.hand_max.0.pts == player_stats.stats.biggest_hands.0.pts%}bg-label-success text-black{%endif%}">
                    {% if player_stats.stats.biggest_hands|length > 0 %}
                        {{player_stats.stats.biggest_hands.0.pts}} pts <span class="badge bg-label-primary me-1 float-end">R. {{ player_stats.stats.biggest_hands.0.round }}</span>
                    {% endif %}&nbsp;
                </td>
                <td class="border-start col-md-3 {% if rounds_max_stats.mp_max.0.minipoints == player_stats.stats.biggest_total.0.pts%}bg-label-success text-black{%endif%}">
                    {% if player_stats.stats.biggest_total|length > 0 %}
                        {{player_stats.stats.biggest_total.0.pts}} pts <span class="badge bg-label-primary me-1 float-end">R. {{ player_stats.stats.biggest_total.0.round }}</span>
                    {% endif %}&nbsp;
                </td>
                <td class="border-start col-md-3 {% if rounds_max_stats.nb_win_max.0.nb_win == player_stats.stats.num_wins.num%}bg-label-success text-black{%endif%}">
                    {% if player_stats.stats.num_wins.num > 0 %}
                        {{player_stats.stats.num_wins.num}} <span class="badge bg-label-primary me-1 float-end">R. {{ player_stats.stats.num_wins.round }}</span>
                    {% endif %}&nbsp;
                </td>
              </tr>      
            {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
  </div>
  <div class="col-md-6 mb-4 break-after">
    <div class="card">
        <h5 class="card-header">Round statistics</h5>
        <div class="table-responsive text-nowrap" style="break-after:page;">
          <table class="table table-sm align-top">
            <thead>
              <tr>
                <th class="col-md-2">Round</th>
                <th class="border-start col-md-3">Biggest hand</th>
                <th class="border-start col-md-3">Top Minipoints</th>
                <th class="border-start col-md-3">Max wins</th>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0">
            {% for round_stats in stat_rounds %}
              <tr>
                <td class="col-md-2">
                  <img src="static/dashboard/img/icons/unicons/chart-success.png" alt="chart success" class="rounded me-2" style="height:24px;">
                    <b>Round {{forloop.counter}}</b>
                </td>
                <td class="border-start col-md-3 {% if rounds_max_stats.hand_max.0.pts == round_stats.hand_max.0.pts%}bg-label-success text-black{%endif%}">
                    {% if round_stats.hand_max|length > 0 %}
                        {{round_stats.hand_max.0.pts}} pts
                    {% endif %}
                    {% for hand in round_stats.hand_max %}
                      <span class="badge bg-label-primary me-1 float-end mb-1">{{ hand.win_by_player.full_name }}</span>
                    {% endfor %}
                </td>
                <td class="border-start col-md-3 {% if rounds_max_stats.mp_max.0.minipoints == round_stats.mp_max.0.minipoints%}bg-label-success text-black{%endif%}">
                    {% if round_stats.mp_max|length > 0 %}
                        {{round_stats.mp_max.0.minipoints}} pts
                    {% endif %}
                    {% for hand in round_stats.mp_max %}
                      <span class="badge bg-label-primary me-1 float-end mb-1">{{ hand.player.full_name }}</span>
                    {% endfor %}
                </td>
                <td class="border-start col-md-3 {% if rounds_max_stats.nb_win_max.0.nb_win == round_stats.nb_win_max.0.nb_win%}bg-label-success text-black{%endif%}">
                    {% if round_stats.nb_win_max|length > 0 %}
                        {{round_stats.nb_win_max.0.nb_win}}
                    {% endif %}
                    {% for hand in round_stats.nb_win_max %}
                      <span class="badge bg-label-primary me-1 float-end mb-1">{{ hand.player.full_name }}</span>
                    {% endfor %}
                </td>
                
              </tr>      
            {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
</div>