{% load static %} 

<html style="background-color:black;">
<head>
  <title>Swedish Open MCR Mahjong Championship 2018</title>
  <meta charset="utf-8">
  <link rel="icon" type="image/png" href="{% static "images/mcr_logo.png" %}" sizes="192?192">
</head>
<body>
<h1 style="color:white">Add screen from admin page first</h1>
<script src="{% static 'js/display_socket.js' %}"></script>
<script>
connectDisplaySocket({
    subdomain: '{{ subdomain }}',
    onUpdate: function() { location.reload(); },
});
</script>
</body>
