{% load static %} 
<ons-page id="scores_display">
  {% if user.is_authenticated %}
    <ons-pull-hook data-tpt="scores_per_player.tpt?" class="pull-hook" id="pull-hook-scores" threshold-height="120px">
      <ons-icon id="pull-hook-scores-icon" size="22px" class="pull-hook-content" icon="fa-arrow-down"></ons-icon>
    </ons-pull-hook>
  {% else %}
    <ons-pull-hook data-tpt="scores_per_player.tpt?" class="pull-hook" id="pull-hook-scores" threshold-height="120px">
      <ons-icon id="pull-hook-scores-icon" size="22px" class="pull-hook-content" icon="fa-arrow-down"></ons-icon>
    </ons-pull-hook>
  {% endif %}
    <p class="intro">
        {% if scores_json|length == 0 %}
        <b>Scores after round 7</b>
        {% endif %}
        {% if scores_json|length != 0 %}
        <b>Scores after round {{ max_round }}</b>
        {% endif %}
        <br><small><i>(Pull down to refresh scores).</i></small><br>
    </p>
    <ons-list class="list">
      {% for s in scores_json %}
      <a href="#player_{{ s.player_id }}" onclick="load_player({{ s.player_id }})">
      <ons-list-item class="list-item" modifier="tappable chevron" style="border-bottom: 0.5px solid #aaa;">
        <!--<div class="left list-item__left" style="background-size: 100% 1px;background-repeat: no-repeat;background-image: linear-gradient(0deg,#ccc,#ccc 100%);">
          <span style="width:50px; display:inline-block;"><b>{{ s.pos }}</b>
          {% if s.pos_se %}
            &nbsp;&nbsp;<i><small>{{ s.pos_se }}</small></i>
          {% endif %}
          </span> 
          <span style='padding-top: 1px;'><img style='zoom:0.75;' src='{% static "images/blank.png" %}' class='flag flag-{{ s.flag }}' alt=''></span>
        </div>

        <div class="list-item__center">
          <div class="list-item__title">{{ s.name }}</div>
        </div>
        
        <div class="right list-item__right">
          <b>{{ s.total.tp|floatformat:-2 }}</b>&nbsp;&nbsp;&nbsp;<span style="width:38px; display:inline-block;"><i><small>{{ s.total.mp }}</small></i></span>
        </div>-->
        
        <div class="center list-item__center">
          {{ s.name }}
        </div>

        <div class="left list-item__left" style="min-width: 97px;">
          <span style="width:55px; display:inline-block;">
            <span style="width:25px; display:inline-block;"><b>{{ s.pos }}</b></span>
          <!--{% if s.pos_se %}
            <i><small>{{ s.pos_se }}</small></i>
          {% endif %}-->
            <span style="width:10px; display:inline-block;">
              {% with s.history_pos|slice:"-2:-1" as last_pos %}
              {% if last_pos.0 == s.pos %} → 
              {% elif last_pos.0 > s.pos %} ⬈ 
              {% else %} ⬊ 
              {% endif %}
              {% endwith %}
            </span>
          </span> 
          <span style='padding-top: 1px;'><img style='zoom:0.75;' src='{% static "images/blank.png" %}' class='flag flag-{{ s.flag }}' alt=''></span>
        </div>

        <div class="right list-item__right">
          {% if variables.rules == "MCR" %}
            <b>{{ s.total.tp|floatformat:-2 }}</b>&nbsp;&nbsp;&nbsp;<span style="width:38px; display:inline-block;"><i><small>{{ s.total.mp }}</small></i></span>
          {% else %}
            <b>{{ s.total.mp }}</b></span>
          {% endif %}
        </div>
      </ons-list-item >
      </a>
      {% endfor %}
    </ons-list>


  <script>
    function load_player (id) {
        var d = new Date();
        var t = d.getTime();
        fn.pushPage({'id': 'details_player_' + id + '?tmp=' + t})
    }
    function load_pullHookScores() {
        console.log("load_pullHookScores");
        if (ons.platform.isAndroid()) {
          const inputItems = document.querySelectorAll('.input-items');
          for (i = 0; i < inputItems.length; i++) {
            inputItems[i].hasAttribute('modifier') ?
              inputItems[i].setAttribute('modifier', inputItems[i].getAttribute('modifier') + ' nodivider') :
              inputItems[i].setAttribute('modifier', 'nodivider');
          }
        }
    }
    if (ons.getScriptPage() != null) {
        ons.getScriptPage().onInit = function () {
          load_pullHookScores();
        };
    }
  </script>
</ons-page>
