.flag {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -6px;
    margin-bottom: -4px;
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.7))
}

.flag.flag-ad {
    background-image: url('flags/ad.svg');
}

.flag.flag-ae {
    background-image: url('flags/ae.svg');
}

.flag.flag-af {
    background-image: url('flags/af.svg');
}

.flag.flag-ag {
    background-image: url('flags/ag.svg');
}

.flag.flag-ai {
    background-image: url('flags/ai.svg');
}

.flag.flag-al {
    background-image: url('flags/al.svg');
}

.flag.flag-am {
    background-image: url('flags/am.svg');
}

.flag.flag-ao {
    background-image: url('flags/ao.svg');
}

.flag.flag-ar {
    background-image: url('flags/ar.svg');
}

.flag.flag-as {
    background-image: url('flags/as.svg');
}

.flag.flag-at {
    background-image: url('flags/at.svg');
}

.flag.flag-au {
    background-image: url('flags/au.svg');
}

.flag.flag-aw {
    background-image: url('flags/aw.svg');
}

.flag.flag-az {
    background-image: url('flags/az.svg');
}

.flag.flag-ba {
    background-image: url('flags/ba.svg');
}

.flag.flag-bb {
    background-image: url('flags/bb.svg');
}

.flag.flag-bd {
    background-image: url('flags/bd.svg');
}

.flag.flag-be {
    background-image: url('flags/be.svg');
}

.flag.flag-bf {
    background-image: url('flags/bf.svg');
}

.flag.flag-bg {
    background-image: url('flags/bg.svg');
}

.flag.flag-bh {
    background-image: url('flags/bh.svg');
}

.flag.flag-bj {
    background-image: url('flags/bj.svg');
}

.flag.flag-bm {
    background-image: url('flags/bm.svg');
}

.flag.flag-bn {
    background-image: url('flags/bn.svg');
}

.flag.flag-bo {
    background-image: url('flags/bo.svg');
}

.flag.flag-br {
    background-image: url('flags/br.svg');
}

.flag.flag-bs {
    background-image: url('flags/bs.svg');
}

.flag.flag-bt {
    background-image: url('flags/bt.svg');
}

.flag.flag-bw {
    background-image: url('flags/bw.svg');
}

.flag.flag-by {
    background-image: url('flags/by.svg');
}

.flag.flag-bz {
    background-image: url('flags/bz.svg');
}

.flag.flag-ca {
    background-image: url('flags/ca.svg');
}

.flag.flag-cd {
    background-image: url('flags/cd.svg');
}

.flag.flag-cf {
    background-image: url('flags/cf.svg');
}

.flag.flag-cg {
    background-image: url('flags/cg.svg');
}

.flag.flag-ch {
    background-image: url('flags/ch.svg');
}

.flag.flag-ci {
    background-image: url('flags/ci.svg');
}

.flag.flag-ck {
    background-image: url('flags/ck.svg');
}

.flag.flag-cl {
    background-image: url('flags/cl.svg');
}

.flag.flag-cm {
    background-image: url('flags/cm.svg');
}

.flag.flag-cn {
    background-image: url('flags/cn.svg');
}

.flag.flag-co {
    background-image: url('flags/co.svg');
}

.flag.flag-cr {
    background-image: url('flags/cr.svg');
}

.flag.flag-cu {
    background-image: url('flags/cu.svg');
}

.flag.flag-cv {
    background-image: url('flags/cv.svg');
}

.flag.flag-cy {
    background-image: url('flags/cy.svg');
}

.flag.flag-cz {
    background-image: url('flags/cz.svg');
}

.flag.flag-de {
    background-image: url('flags/de.svg');
}

.flag.flag-dj {
    background-image: url('flags/dj.svg');
}

.flag.flag-dk {
    background-image: url('flags/dk.svg');
}

.flag.flag-dm {
    background-image: url('flags/dm.svg');
}

.flag.flag-do {
    background-image: url('flags/do.svg');
}

.flag.flag-dz {
    background-image: url('flags/dz.svg');
}

.flag.flag-ec {
    background-image: url('flags/ec.svg');
}

.flag.flag-ee {
    background-image: url('flags/ee.svg');
}

.flag.flag-eg {
    background-image: url('flags/eg.svg');
}

.flag.flag-eh {
    background-image: url('flags/eh.svg');
}

.flag.flag-er {
    background-image: url('flags/er.svg');
}

.flag.flag-es {
    background-image: url('flags/es.svg');
}

.flag.flag-et {
    background-image: url('flags/et.svg');
}

.flag.flag-fi {
    background-image: url('flags/fi.svg');
}

.flag.flag-fj {
    background-image: url('flags/fj.svg');
}

.flag.flag-fm {
    background-image: url('flags/fm.svg');
}

.flag.flag-fo {
    background-image: url('flags/fo.svg');
}

.flag.flag-fr {
    background-image: url('flags/fr.svg');
}

.flag.flag-ga {
    background-image: url('flags/ga.svg');
}

.flag.flag-gb {
    background-image: url('flags/gb.svg');
}

.flag.flag-gd {
    background-image: url('flags/gd.svg');
}

.flag.flag-ge {
    background-image: url('flags/ge.svg');
}

.flag.flag-gg {
    background-image: url('flags/gg.svg');
}

.flag.flag-gh {
    background-image: url('flags/gh.svg');
}

.flag.flag-gi {
    background-image: url('flags/gi.svg');
}

.flag.flag-gl {
    background-image: url('flags/gl.svg');
}

.flag.flag-gm {
    background-image: url('flags/gm.svg');
}

.flag.flag-gn {
    background-image: url('flags/gn.svg');
}

.flag.flag-gp {
    background-image: url('flags/gp.svg');
}

.flag.flag-gq {
    background-image: url('flags/gq.svg');
}

.flag.flag-gr {
    background-image: url('flags/gr.svg');
}

.flag.flag-gt {
    background-image: url('flags/gt.svg');
}

.flag.flag-gu {
    background-image: url('flags/gu.svg');
}

.flag.flag-gw {
    background-image: url('flags/gw.svg');
}

.flag.flag-gy {
    background-image: url('flags/gy.svg');
}

.flag.flag-hk {
    background-image: url('flags/hk.svg');
}

.flag.flag-hn {
    background-image: url('flags/hn.svg');
}

.flag.flag-hr {
    background-image: url('flags/hr.svg');
}

.flag.flag-ht {
    background-image: url('flags/ht.svg');
}

.flag.flag-hu {
    background-image: url('flags/hu.svg');
}

.flag.flag-id {
    background-image: url('flags/id.svg');
}

.flag.flag-ie {
    background-image: url('flags/ie.svg');
}

.flag.flag-il {
    background-image: url('flags/il.svg');
}

.flag.flag-im {
    background-image: url('flags/im.svg');
}

.flag.flag-in {
    background-image: url('flags/in.svg');
}

.flag.flag-iq {
    background-image: url('flags/iq.svg');
}

.flag.flag-ir {
    background-image: url('flags/ir.svg');
}

.flag.flag-is {
    background-image: url('flags/is.svg');
}

.flag.flag-it {
    background-image: url('flags/it.svg');
}

.flag.flag-je {
    background-image: url('flags/je.svg');
}

.flag.flag-jm {
    background-image: url('flags/jm.svg');
}

.flag.flag-jo {
    background-image: url('flags/jo.svg');
}

.flag.flag-jp {
    background-image: url('flags/jp.svg');
}

.flag.flag-ke {
    background-image: url('flags/ke.svg');
}

.flag.flag-kg {
    background-image: url('flags/kg.svg');
}

.flag.flag-kh {
    background-image: url('flags/kh.svg');
}

.flag.flag-ki {
    background-image: url('flags/ki.svg');
}

.flag.flag-km {
    background-image: url('flags/km.svg');
}

.flag.flag-kn {
    background-image: url('flags/kn.svg');
}

.flag.flag-kp {
    background-image: url('flags/kp.svg');
}

.flag.flag-kr {
    background-image: url('flags/kr.svg');
}

.flag.flag-kw {
    background-image: url('flags/kw.svg');
}

.flag.flag-ky {
    background-image: url('flags/ky.svg');
}

.flag.flag-kz {
    background-image: url('flags/kz.svg');
}

.flag.flag-la {
    background-image: url('flags/la.svg');
}

.flag.flag-lb {
    background-image: url('flags/lb.svg');
}

.flag.flag-lc {
    background-image: url('flags/lc.svg');
}

.flag.flag-li {
    background-image: url('flags/li.svg');
}

.flag.flag-lk {
    background-image: url('flags/lk.svg');
}

.flag.flag-lr {
    background-image: url('flags/lr.svg');
}

.flag.flag-ls {
    background-image: url('flags/ls.svg');
}

.flag.flag-lt {
    background-image: url('flags/lt.svg');
}

.flag.flag-lu {
    background-image: url('flags/lu.svg');
}

.flag.flag-lv {
    background-image: url('flags/lv.svg');
}

.flag.flag-ly {
    background-image: url('flags/ly.svg');
}

.flag.flag-ma {
    background-image: url('flags/ma.svg');
}

.flag.flag-mc {
    background-image: url('flags/mc.svg');
}

.flag.flag-md {
    background-image: url('flags/md.svg');
}

.flag.flag-me {
    background-image: url('flags/me.svg');
}

.flag.flag-mg {
    background-image: url('flags/mg.svg');
}

.flag.flag-mh {
    background-image: url('flags/mh.svg');
}

.flag.flag-mi {
    background-image: url('flags/mi.svg');
}

.flag.flag-mk {
    background-image: url('flags/mk.svg');
}

.flag.flag-ml {
    background-image: url('flags/ml.svg');
}

.flag.flag-mm {
    background-image: url('flags/mm.svg');
}

.flag.flag-mn {
    background-image: url('flags/mn.svg');
}

.flag.flag-mo {
    background-image: url('flags/mo.svg');
}

.flag.flag-mq {
    background-image: url('flags/mq.svg');
}

.flag.flag-mr {
    background-image: url('flags/mr.svg');
}

.flag.flag-ms {
    background-image: url('flags/ms.svg');
}

.flag.flag-mt {
    background-image: url('flags/mt.svg');
}

.flag.flag-mu {
    background-image: url('flags/mu.svg');
}

.flag.flag-mv {
    background-image: url('flags/mv.svg');
}

.flag.flag-mw {
    background-image: url('flags/mw.svg');
}

.flag.flag-mx {
    background-image: url('flags/mx.svg');
}

.flag.flag-my {
    background-image: url('flags/my.svg');
}

.flag.flag-mz {
    background-image: url('flags/mz.svg');
}

.flag.flag-na {
    background-image: url('flags/na.svg');
}

.flag.flag-nc {
    background-image: url('flags/nc.svg');
}

.flag.flag-ne {
    background-image: url('flags/ne.svg');
}

.flag.flag-ng {
    background-image: url('flags/ng.svg');
}

.flag.flag-ni {
    background-image: url('flags/ni.svg');
}

.flag.flag-nl {
    background-image: url('flags/nl.svg');
}

.flag.flag-no {
    background-image: url('flags/no.svg');
}

.flag.flag-np {
    background-image: url('flags/np.svg');
}

.flag.flag-nr {
    background-image: url('flags/nr.svg');
}

.flag.flag-nz {
    background-image: url('flags/nz.svg');
}

.flag.flag-om {
    background-image: url('flags/om.svg');
}

.flag.flag-pa {
    background-image: url('flags/pa.svg');
}

.flag.flag-pe {
    background-image: url('flags/pe.svg');
}

.flag.flag-pf {
    background-image: url('flags/pf.svg');
}

.flag.flag-pg {
    background-image: url('flags/pg.svg');
}

.flag.flag-ph {
    background-image: url('flags/ph.svg');
}

.flag.flag-pk {
    background-image: url('flags/pk.svg');
}

.flag.flag-pl {
    background-image: url('flags/pl.svg');
}

.flag.flag-pr {
    background-image: url('flags/pr.svg');
}

.flag.flag-ps {
    background-image: url('flags/ps.svg');
}

.flag.flag-pt {
    background-image: url('flags/pt.svg');
}

.flag.flag-pw {
    background-image: url('flags/pw.svg');
}

.flag.flag-py {
    background-image: url('flags/py.svg');
}

.flag.flag-qa {
    background-image: url('flags/qa.svg');
}

.flag.flag-re {
    background-image: url('flags/re.svg');
}

.flag.flag-ro {
    background-image: url('flags/ro.svg');
}

.flag.flag-rs {
    background-image: url('flags/rs.svg');
}

.flag.flag-ru {
    background-image: url('flags/ru.svg');
}

.flag.flag-rw {
    background-image: url('flags/rw.svg');
}

.flag.flag-sa {
    background-image: url('flags/sa.svg');
}

.flag.flag-sb {
    background-image: url('flags/sb.svg');
}

.flag.flag-sc {
    background-image: url('flags/sc.svg');
}

.flag.flag-sd {
    background-image: url('flags/sd.svg');
}

.flag.flag-se {
    background-image: url('flags/se.svg');
}

.flag.flag-sg {
    background-image: url('flags/sg.svg');
}

.flag.flag-si {
    background-image: url('flags/si.svg');
}

.flag.flag-sk {
    background-image: url('flags/sk.svg');
}

.flag.flag-sl {
    background-image: url('flags/sl.svg');
}

.flag.flag-sm {
    background-image: url('flags/sm.svg');
}

.flag.flag-sn {
    background-image: url('flags/sn.svg');
}

.flag.flag-so {
    background-image: url('flags/so.svg');
}

.flag.flag-sr {
    background-image: url('flags/sr.svg');
}

.flag.flag-st {
    background-image: url('flags/st.svg');
}

.flag.flag-sv {
    background-image: url('flags/sv.svg');
}

.flag.flag-sy {
    background-image: url('flags/sy.svg');
}

.flag.flag-sz {
    background-image: url('flags/sz.svg');
}

.flag.flag-tc {
    background-image: url('flags/tc.svg');
}

.flag.flag-td {
    background-image: url('flags/td.svg');
}

.flag.flag-tg {
    background-image: url('flags/tg.svg');
}

.flag.flag-th {
    background-image: url('flags/th.svg');
}

.flag.flag-tj {
    background-image: url('flags/tj.svg');
}

.flag.flag-tl {
    background-image: url('flags/tl.svg');
}

.flag.flag-tm {
    background-image: url('flags/tm.svg');
}

.flag.flag-tn {
    background-image: url('flags/tn.svg');
}

.flag.flag-to {
    background-image: url('flags/to.svg');
}

.flag.flag-tr {
    background-image: url('flags/tr.svg');
}

.flag.flag-tt {
    background-image: url('flags/tt.svg');
}

.flag.flag-tv {
    background-image: url('flags/tv.svg');
}

.flag.flag-tw {
    background-image: url('flags/tw.svg');
}

.flag.flag-tz {
    background-image: url('flags/tz.svg');
}

.flag.flag-ua {
    background-image: url('flags/ua.svg');
}

.flag.flag-ug {
    background-image: url('flags/ug.svg');
}

.flag.flag-us {
    background-image: url('flags/us.svg');
}

.flag.flag-uy {
    background-image: url('flags/uy.svg');
}

.flag.flag-uz {
    background-image: url('flags/uz.svg');
}

.flag.flag-va {
    background-image: url('flags/va.svg');
}

.flag.flag-vc {
    background-image: url('flags/vc.svg');
}

.flag.flag-ve {
    background-image: url('flags/ve.svg');
}

.flag.flag-vg {
    background-image: url('flags/vg.svg');
}

.flag.flag-vi {
    background-image: url('flags/vi.svg');
}

.flag.flag-vn {
    background-image: url('flags/vn.svg');
}

.flag.flag-vu {
    background-image: url('flags/vu.svg');
}

.flag.flag-ws {
    background-image: url('flags/ws.svg');
}

.flag.flag-ye {
    background-image: url('flags/ye.svg');
}

.flag.flag-za {
    background-image: url('flags/za.svg');
}

.flag.flag-zm {
    background-image: url('flags/zm.svg');
}

.flag.flag-zw {
    background-image: url('flags/zw.svg');
}

